.auth-wrapper{
 min-height: 100vh;
 background-image: url('/images/background.svg');
 background-size: cover;
 .login-form-wrapper{
   
    .actions{
        
        .confirm-button{
            background-color: $brown-base;
            color: $white;
        }
        .go-to-register-wrapper{
            .register-button{
                color: $brown-base;
                border: 2px solid $brown-base;
            }

        }
    }
 }
 .register-form-wrapper{
    .actions{
        .confirm-button{
            background-color: $brown-base;
            color: $white;
        }
    }
    .go-to-login-wrapper{
        .register-button{
            color: $secondary-color;
            background: transparent;
            border: none
        }

    }
}
    .set-lang{
        border: 1px solid $brown-base;
        width: fit-content;
        border-radius: 9999px;
        .button{
            border: none;
        }
        .active{
            background-color: $brown-base;
            color: $white;
        }
    }
}