.user-avatar-wrapper{
    padding-right: 15px;
    border-right: 1px solid $gray-light;
    margin-right: 15px;
    min-width:150px;
    @include tablet{
      border-right: 0px;
      margin-right: 0px; 
    }
    a{
        .avatar{
            width: 45px;
            min-width: 45px;
            padding-top: 100%;
            border-radius:50%;
            background-image: url('/images/userdefault.png');
            background-size: cover;
            background-position: center;
            cursor: pointer;
            border: 1px solid #CACACA;
            @include tablet{
              margin-bottom: -20px;
            }
            margin-bottom:-20px;
        }

    }
    .text-wrapper{
        padding-left:20px;
        .name{
            color: $primary-color;
            font-size: 20px;
            font-weight: bold;
            cursor: pointer;
            min-width:100px;
        }
        .user-party{
            font-size: 12px;
            color: $gray;
            text-transform:uppercase;
            display:flex;
            margin-top:.9rem;
            align-items:center;
            @include tablet{
            font-size:10px
            }
            .icon-wrapper{
                padding-right:.5rem;
            }
        }
    }
}

.closing-date-wrapper{
    display: block;
    width:22%;
    padding-right: 15px;
    border-right: 1px solid $gray-light;
    margin-right: 15px;
    @include tablet{
      display: none;
    }
    .closing-date-title{
        font-weight: 300;
        font-size:14px;
        color: $gray;
        letter-spacing: .5px;
        margin-bottom:8px
    }
}

.progress-bar-wrapper{
    margin-top: 20px;
    background-color: #c6c8ca;
    overflow: hidden;
    height: 40px;
    position:relative;
    .reaming-days{
        width:100%;
        font-size: 14px;
        font-family: var(--bold);
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .progress-fill{
        background-color:$primary-color-light;
        height:40px;
        margin: 0 0 0 -6px;
        transform: skewX(-15deg);
    }
}