.editor-lang-header{
  background: hsl(210, 16.7%, 97.6%);
  border-top: 1px solid hsl(209, 12.2%, 93.2%);
  border-left: 1px solid hsl(209, 12.2%, 93.2%);
  border-right: 1px solid hsl(209, 12.2%, 93.2%);
  padding: 2px 8px;
  text-align: left;
  font-weight: 600;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

