


html, body, h1, h2, h3, p, ul, ol, li, main {
    margin: 0;
    padding: 0;
    border: 0;
    
}

html {
  scroll-behavior: smooth;

}
*{
  scroll-margin-top: 60px;
}

main{
    min-height: 100vh;
}

body {
    font-family: var(--font-karla), sans-serif;
    background-color: $white;
}

a {
    text-decoration: none;
}

.overlay{
    display: none;
    position: fixed;
    height: 100vh;
    width: 100%;
    z-index: 998;
    top: 0;
    backdrop-filter: blur(6px);
    &.active{
        display: block;
    }
}



.w-25 {
    width: 25% !important;
  }
  .w-50 {
    width: 50% !important;
  }
  .w-75 {
    width: 75% !important;
  }
  .w-100 {
    width: 100% !important;
  }


  .border-color-pink{
    border-color: $pink-base;
  }

  .border-color-brown{
    border-color: $brown-base;
  }

  .modal{
    z-index: 9999;
  }

  .navbar-wrapper.navbar-fixed{
    @include tablet{
      position: inherit;
    }
  } 