
  @charset "utf-8";

  @import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,500;1,600;1,700;1,800&display=swap');
  
  $family-serif: 'Karla', sans-serif;
  $family-primary: $family-serif;
body, button, input, optgroup, select, textarea {
  font-family: 'Karla', sans-serif;
}
html, body, h1, h2, h3, p, ul, ol, li, main {
    margin: 0;
    padding: 0;
    border: 0;
}

main{
    min-height: 100vh;
}

body {
    color: $black;
    background-color: $white;
}

a {
    text-decoration: none;
}

.overlay{
    display: none;
    position: fixed;
    height: 100vh;
    width: 100%;
    z-index: 10;
    top: 0;
    backdrop-filter: blur(6px);
    &.active{
        display: block;
    }
}



.w-25 {
    width: 25% !important;
  }
  .w-50 {
    width: 50% !important;
  }
  .w-75 {
    width: 75% !important;
  }
  .w-100 {
    width: 100% !important;
  }
